#title {
    box-shadow: 0px 0px 10px .5px inset rgba(0, 0, 0, 0.553);
    background-color: rgba(0, 249, 170, 0.634);
    border: 1px solid rgb(252, 250, 250);
    border-radius: 100px;
    width: 80px;
    height: 80px;
    position: absolute;
}

#span1 {
    position: relative;
    top: 24px;
    left: 1px;
    font-size: 12px;
    font-family: "Lacquer", system-ui;
    color: rgb(255, 116, 2);
}

#span2 {
    
    position: relative;
    color: rgb(60, 3, 67);
    font-family: "Rubik Doodle Shadow", system-ui;
    top: 15px;
    left: 2px;
}

